<div class="t-wrapper">
  <div class="title-wrapper">
    <span class="title" *ngIf="!isEditable; else elseBlock">
      {{ title }}
    </span>
    <ng-template #elseBlock>
      <input type="text" class="form-field" [(ngModel)]="title" name="listTitle" />
    </ng-template>
    &nbsp;&nbsp;
    <span class="action">
      <button (click)="editTitle()" class="btn">
        <span class="label" *ngIf="!isEditable  else updateText">Edit</span>
        <ng-template #updateText>
          Done
        </ng-template>
      </button></span
    >
  </div>
  <div class="list-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of listResponse"
          [ngClass]="{
            done: item.status == 'Done',
            not_started: item.status == 'Not started',
            inprogress: item.status == 'In progress'
          }"
        >
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>
            <select [(ngModel)]="item.status" name="status">
              <option value="Done">Done</option>
              <option value="Not started">Not started</option>
              <option value="In progress">In Progress</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
