.t-wrapper{
  .title-wrapper{
    text-align: center;
    font-size: 20px;
    .form-field{
      padding: 10px;
    }
    .btn{
      background: #331199;
      padding: 10px;
      width: 100px;
      border: none;
      cursor: pointer;
      color: #fff;
      outline: none;
    }
  }
  .list-wrapper{
    margin-top: 20px;
    .table{
      width: 100%;
      border: 1px solid #f9f9f9;
      color: #fff;
      thead{
        background: #2d83f6;  
      }
      th,td{
        padding: 10px;
      }
      .done{
        background: purple;
      }
      .not_started{
        background: red;
      }
      .inprogress{
        background: skyblue;
      }
    }
  }
  
}